*{
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: sans-serif;

}

.container{
  height: auto;
  width: 100%;
  background-color: rgb(217, 191, 172);
}

.navbar
{
  height: 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: rgb(217, 191, 172);
}

.cards
{
  padding: 6rem 5rem ;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.card_container
{
  height: auto;
  width: 260px;
  background-color:white;
  border-radius: 10px;
}

.image_box img
{
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0 0 ;
}

.content_box
{
  display:flex ;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.title
{
  font-size: 0.8rem;
  color: rgb(213, 138, 138);
  text-transform: uppercase;
  font-weight: 600;
}

.movie_title
{
  font-size: 1.3rem;
  font-weight: 800;
}

.watch_btn button
{
  height: 30px;
  width: 100px;
  background-color: white;
  border-radius: 7px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ;
  font-weight: 600;
  outline: none;
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.763);
}

.watch_btn button:hover
{
  background-color:rgb(241, 237, 237) ;
}

@media (max-width:500px) {
  .navbar
{
  height: 100px;
  font-size: 1rem;
}
}